#store .cart_title {
  font: 120% bold;
}
#store .item_price, #store .total_line {
  text-align: right;
}
#store .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}


#cart, #cart table {
  font-size: smaller;
  color: white;
}

#cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}